Source: ros-lunar-qwt-dependency
Section: misc
Priority: extra
Maintainer: Dirk Thomas <dthomas@osrfoundation.org>
Build-Depends: debhelper (>= 9.0.0), ros-lunar-catkin
Homepage: 
Standards-Version: 3.9.2

Package: ros-lunar-qwt-dependency
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, 
Description: This encapsulates the Qwt dependency for a specific ROS distribution and its Qt version
